.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-urls {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}
  
/* .nav-bar a:hover {
    background-color: #126753;
    color: black;
} */
  
/* .nav-bar a.active {
    background-color: #04AA6D;
    color: white;
} */