<div class="add-expenses">
    <div class="income-or-expenditure">
        <div class="income">
            <span>INCOME</span>
        </div>
        <div class="expenditure">
            <span>EXPENDITURE</span>
        </div>
    </div>
    <div class="category">
        <div class="category-input">
            <select name="category" id="category">
                <option value="grocery">Grocery</option>
                <option value="transport">Transport</option>
                <option value="food">Food</option>
                <option value="others">Others</option>
            </select>
        </div>
    </div>
    <div class="amount-and-add">
        <div class="amount">
            <input placeholder="Amount">
        </div>
        <div class="add-button">
            <button type="button">ADD</button>
        </div>
    </div>
</div>
