<div class="expense-summary">
    <div class="expense-summary-budget">
        <span class="summary-title budget-title">Budget</span>
        <i class="summary-icon budget-icon"></i>
        <span class="summary-amount budget-amount">10,000</span>
    </div>
    <div class="expense-summary-expenditure">
        <span class="summary-title expenses-title">Amount</span>
        <i class="summary-icon expenses-icon"></i>
        <span class="summary-amount expense-amount">10,000</span>
    </div>
    <div class="expense-summary-budget">
        <span class="summary-title total-title">Total</span>
        <i class="summary-icon total-icon"></i>
        <span class="summary-amount total-amount">10,000</span>
    </div>
</div>